html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #fe811a;
}

.background-container {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 600px;
  height: 600px;
  overflow: hidden;
  border-radius: 150px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 250px;
  right: 750px;
  width: 300px;
  height: 250px;
  border-radius: 10%;
}


.narrow-input, .narrow-textarea {
  width: 500px;
}

.narrow-bottom {
  width: 200px;
  margin-top: 10px;
  margin-right: 70px;}

.row {
  margin-bottom: 20px;
}

/* text */
.container h1,.container p, form label {
  color: white;
  font-weight: bold;
}

/* Home i send message */
.nav-link {
    display: inline-block;
      padding: 1rem 2rem;
      margin: 0.5rem 0.25rem;
      background-color: #000000;
      color: #fff;
      font-weight: bold;
      border: none;
      border-radius: 0.25rem;
      text-decoration: none;
      font-size: 1rem;;
}

.nav-link:hover {
  background-color: #f36d00;

}

.nav-link.active,
.nav-link:active {
  background-color: #f37d0e;

}
